doctype html
html
  head
    title O&apos;PARC - Formulaire de Contact - O&apos;PARC
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')
  
  body
    section.section
      .container
        .columns.is-centered
          .column.is-4
            h1.title Formulaire de reservation O&apos;Parc
            form#reservation-form(action='/reservation', method='post')
              .field
                label.label(for='nom') Nom :
                .control
                  input.input(type='text', name='nom[]', required='')
              .field
                label.label(for='email') Email :
                .control
                  input.input(type='email', name='email', required='')
              .field
                label.label(for='date') Date :
                .control
                  input.input(type='date', name='date', required='')
              .field
                label.label(for='horaire') Horaire :
                .control
                  .select
                    select(name="horaire", required)
                      - for (let heure = 0; heure <= 23; heure++) 
                        - for (let minute = 0; minute < 60; minute += 30)
                          - const heureFormattee = heure.toString().padStart(2, '0');
                          - const minuteFormattee = minute.toString().padStart(2, '0');
                          - const horaire = `${heureFormattee}:${minuteFormattee}`;
                          option(value=horaire)= horaire
              
              div
                .field
                  label.label(for='nom') Nom :
                  .control
                    input.input(type='text', name='nom[]')
                .field
                  label.label(for='nom') Nom :
                  .control
                    input.input(type='text', name='nom[]')
                .field
                  label.label(for='nom') Nom :
                  .control
                    input.input(type='text', name='nom[]')
              
                .field
                  .control
                    button.button.is-primary(type='submit') R&eacute;server


  script(src='NOM DU FICHIER JS DU SCRIPT POUR FORMULAIRE ET BOUCLER.js')
